{% extends "layout.html" %}

{% block title %}
    Ghost
{% endblock %}

{% block body %}
    <div class="container-fluid">
         <div class="add_movie_content">
                <div>
                    <form method="post" action="{{ url_for('updatemovie') }}">
                        <ul>
                            {% for d in movie_details %}
                                <li>Title</li>
                                <input type="text" name="i_name" value="{{ d[1] }}" required />
                                <li>Genre</li>
                                <input type="text" name="i_genre" value="{{ d[2] }}" required />
                                <li>Runtime</li>
                                <input type="number" name="i_runtime" value="{{ d[3] }}" required />
                                <li>Release Date</li>
                                <input type="text" name="i_release_date" value="{{ d[4] }}" required />
                                <li>Rating 0-10</li>
                                <input type="text" name="i_rating" value="{{ d[5] }}" required />
                                <li>Times Watched</li>
                                <input type="number" name="i_timeswatched" value="{{ d[6] }}" required />
                                <button id="edit_submit" class="btn_style" type="submit" name="movieid" value="{{ d[0] }}">Submit</button>
                            {% endfor %}

                        </ul>
                    </form>
                </div>
         </div>
    </div>
{% endblock %}