html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background: #231f20;

   /*
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
   */

    color: white;
}

ul {
    padding: 0;
}

h1 {
    margin: 0px;
}

a {
    color: white;
    background: transparent;
    text-decoration: none;

    /*
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 2px white;
    */

    padding: 10px 14px;
    margin: 20px 5px;

    border: 1px solid white;
    border-radius: 4px;
}

a:hover {
    background: #c72e39;
    text-decoration: none;
    color: #231f20;

    background: white;
}

a:active {
    position: relative;
    top: 1px;
}

/*.btn, .btn:active, .btn:focus {
    font-size: 24px;

    top: 1px;
    text-transform: uppercase;

    color: white;
    background: transparent;

    border: 1px solid white;
    border-radius: 3px;
    transition: 0.1s;
}

.btn:hover {
    text-transform: uppercase;

    color: black;
    background: white;

    border: 1px solid white;
    border-radius: 3px;
    transition: 0.1s;
}*/

ul li {
    list-style-type: none;
    font-weight: bold;
}

/*.main_page {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}*/

.bg_image {
    /*background-image: url('http://www.newhdwallpapers.in/wp-content/uploads/2015/11/Latest-Wall-E-Movie-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/

    height: 100vh;
    width: 100vw;

    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}


.header {
    display: inline-block;

    position: relative;
    height: 69px;
    width: 100%;

    display: inline-block;
    vertical-align: middle;

    border-bottom: 1px solid #c6c6c6;
}

.header h1 {
    display: inline-block;
}

.header ul, .header ul li {
    display: inline-block;
    padding: 3px;
}

.content {
    position: relative;
    height: 390px;
    width: 100%;
}

.bottom {

}

.digital {
    font-weight: bold;
    font-size: 124px;
    
    color: #ec393e;
}

.sub_digital {
    font-weight: bold;
    font-size: 36px;
}

.stats {
    display: none;
    text-align: center;
    
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.stats h1 {
    font-family: 'Anton', sans-serif;
}

.stats ul li {
    text-align: left;
}

input {
    border: 2px solid grey;
    border-radius: 3px;

    padding: 5px 20px;
    margin-bottom: 5px;

    font-weight: bold;

    color: black;
    text-align: center;
}

.add_movie_content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.add_movie_beneath {
    position: absolute;
    width: 100%;
}

.add_movie_content div {
    position: relative;
    top: 50%;
    transform: translateY(+100%);

    padding: 5px;
    width: 100%;
    border-radius: 3px;
}

.add_movie_content ul li, .add_movie_content ul input {
    width: 100%;
}

.add_movie_content div a {
    display: block;
    width: 100%;

    margin: 0;
    transition: 0.1s;
}

.beneath {
    position: fixed;
    z-index: 0;
    opacity: 0.2;
}

table, th, td {
    border: 1px solid white;
    padding: 10px;

    width: 700px;
}

td img {
    max-width: 50px;
    max-height:50px;
}

.seen_movies_list {
    text-align: center;
    border-radius: 3px;
    table-layout:fixed;
}

.seen_movies_list h1 {
    background: #ec393e;
    padding: 10px;
}

tr .movie_list_id {
    width: 30px;
    max-width: 30px;
}

.btn_remove {
    background: #bb271b;
}

.some-info {
    margin-top: 100px;
}

tr button  {
    color: #bb271b;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: transparent;
}