{% extends "layout.html" %}

{% block title %}
    Ghost
{% endblock %}

{% block body %}
    <div class="container-fluid add_movie_beneath">
        <div class="col-md-4"></div>
        <div class="add_movie_content col-md-4">
            <div>
                <form method="post" action="{{ url_for('insert_movies') }}">
                    <ul>
                        <li>Title</li>
                        <input type="text" name="i_name" required />
                        <li>Genre</li>
                        <input type="text" name="i_genre" required />
                        <li>Runtime</li>
                        <input type="number" name="i_runtime" required />
                        <li>Release Date</li>
                        <input type="text" name="i_release_date" required />
                        <li>Rating 0-10</li>
                        <input type="text" name="i_rating" required />
                    </ul>
                    <input type="submit" value="Add Movie">
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="beneath">
             <img src="../static/img/bg.png" style="width: 100%; opacity: 0.9;">
             <img src="../static/img/bg.png" style="width: 100%; opacity: 0.9;">
             <img src="../static/img/bg.png" style="width: 100%; opacity: 0.9;">
        </div>
    </div>
{% endblock %}